<form [formGroup]="senzorForm" class="d-flex flex-column">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Senzor Description</mat-label>
      <input matInput placeholder="senzor description" formControlName = "SenzorDescription">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Max Value</mat-label>
      <input matInput placeholder="maximum value" formControlName ="MaximumValue">
    </mat-form-field>

  
   
    <button mat-raised-button color="primary" (click)="onSubmit()"*ngIf="actionType == 'submit'" >Submit</button>
    <button mat-raised-button color="primary" (click)="onEdit()" *ngIf="actionType == 'edit'" >Edit</button>
    <p>
        
    </p>
    <button mat-raised-button color="primary" (click)="onDelete()" *ngIf="actionType == 'edit'" >Delete</button>
    
    
    
    </form>

