  
    
    
    <form [formGroup]="deviceForm" class="d-flex flex-column">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="device description" formControlName = "Description">
      </mat-form-field>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput placeholder="device location" formControlName ="Location">
      </mat-form-field>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Max Eg Consumtion</mat-label>
        <input matInput placeholder="max energy consumtion" formControlName="MaxEnergyConsumtion"> 
      </mat-form-field>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Base Energy Consumtion</mat-label>
        <input matInput placeholder="base energy consumtion" formControlName="BaselineEnergyConsumtion"> 
      </mat-form-field>
    
     
      <button mat-raised-button color="primary" (click)="onSubmit()"*ngIf="actionType == 'submit'" >Submit</button>
      <button mat-raised-button color="primary" (click)="onEdit()" *ngIf="actionType == 'edit'" >Edit</button>
      <p>
          
      </p>
      <button mat-raised-button color="primary" (click)="onDelete()" *ngIf="actionType == 'edit'" >Delete</button>
      
      
      
      </form>



