<div class="container">

    <div class="row" style="padding-top: 30px;">
        <div class="col-xs-12 col-md-6"
            style="border: solid 1px; border-radius: 4px; position: relative; margin-top: 30px;">
            <div class='labelTitle'>
                contacteaza-ne
            </div>
            <div style="width: 100%; max-width: 100%!important;">
                <div style="padding: 15px; font-size: 15px;">
                    <div style="display: flex; margin-top: 20px; align-items: center;">
                        <div style="font-weight: 500; color: #cca602; margin-right: 10px;">
                            Email:
                        </div>
                        <div style="display: flex; ">
                            <div style="margin-right: 5px;">
                                <mat-icon> email</mat-icon>
                            </div>
                            <div style="margin-top: 2px;">
                                carsharing@mail.com
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; margin-top: 20px; align-items: center;">
                        <div style="font-weight: 500; color: #cca602; margin-right: 10px;">
                            Adresa:
                        </div>
                        <div style="display: flex; ">
                            <div style="margin-right: 5px;">
                                <mat-icon> location_on</mat-icon>
                            </div>
                            <div style="margin-top: 2px;">
                                Aeroportul Cluj-Napoca
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; margin-top: 20px;">
                        <div style="font-weight: 500; color: #cca602; margin-right: 10px;">
                            Telefon:
                        </div>
                        <div>
                            <div style="display: flex; ">
                                <div style="margin-right: 5px;">
                                    <mat-icon> phone</mat-icon>
                                </div>
                                <div style="margin-top: 2px;">
                                    +40 820 102 301
                                </div>
                            </div>
                            <div style="display: flex; ">
                                <div style="margin-right: 5px;">
                                    <mat-icon> phone</mat-icon>
                                </div>
                                <div style="margin-top: 2px;">
                                    +40 820 102 301
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style=" margin-top: 20px;">
                        <div style="font-weight: 500; color: #cca602; margin-right: 10px;">
                            Date despre companie:
                        </div>
                        <div style="display: flex; margin-top: 10px;">
                            <div style="margin-right: 5px;">
                               Nr. Reg. Comertului
                            </div>
                            <div >
                               023/J09/351
                            </div>
                        </div>
                        <div style="display: flex; margin-top: 10px;">
                            <div style="margin-right: 5px;">
                               CUI
                            </div>
                            <div>
                                6859662
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" style="margin-top: 30px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43726.70569357476!2d23.58130502251467!3d46.76649095160943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490b64f9a57925%3A0x248bd8241afed92e!2sAeroportul%20Interna%C8%9Bional%20Avram%20Iancu%20Cluj-Napoca!5e0!3m2!1sro!2sro!4v1656084848027!5m2!1sro!2sro"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div style="margin-top: 80px;">
    <app-footer></app-footer>
</div>