<div style="width: 800px; max-height: 630px;">
    <div class="titleModal">
        <h2>Detalii masina </h2>
        <button mat-icon-button style="color: black;" aria-label="Example icon button with a home icon"
            [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <hr>


    <div class="row" style="border-bottom: solid 1px  rgba(0,0,0,.1); padding-bottom: 20px;">
        <div class="col-md-8 col-xs-12">
            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Numele proprietarului:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{this.car?.carOwner?.fullName}}
                </div>
            </div>
            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Numar de telefon:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{this.car?.carOwner?.phoneNumber}}
                </div>
            </div>

            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Masina:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{this.car?.carBrand}} {{this.car?.modelCar}}
                </div>
            </div>

            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Pret pe zi:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{this.car?.pricePerDay}} €
                </div>
            </div>
            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Km in perioada de inchiriere:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{travelKm}} Km
                </div>
            </div>

            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Km masina:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{this.car?.carKm}} Km
                </div>
            </div>

            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Data ultimei revizii:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{serviceDate}}
                </div>
            </div>

            <!-- <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                    Ultima verificarea masinii la:
                </div>
                <div style="color:#cca502; margin-left: 10px;">
                    {{car?.lastServicesKm}} Km
                </div>
            </div> -->

            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div>
                   Ultima revizie:
                </div>
                <div class="lastKmRevizion" *ngIf="car?.carKm - car?.lastServicesKm > 10000" style="color:red; margin-left: 8px;" >
                    {{car?.lastServicesKm}} Km 
                </div>
                <div class="lastKmRevizion" *ngIf="car?.carKm - car?.lastServicesKm < 10000" style="color:#cca502; margin-left: 8px;" >
                    {{car?.lastServicesKm}} Km 
                </div>
            </div>

            <div class="carProperty" style="display: flex; margin-top: 10px;">
                <div >
                    Data de expirare a ITP-ului: 
                </div>
                <div style="color:red; margin-left: 10px;" *ngIf="differentceITP(car) <= 15">
                    {{car?.itpFormat}} 
                </div>
                <div style="color:#cca502; margin-left: 10px;" *ngIf="differentceITP(car) > 15">
                    {{car?.itpFormat}} 
                </div>
            </div>



        </div>
        <div class="col-md-4 col-xs-12">

            <div style="margin-bottom: 20px;">
                <div class="carProperty" style="display: flex; margin-top: 10px;">
                    <div>
                        Masina cu numarul:
                    </div>
                    <div style="color:#cca502; margin-left: 10px; font-size: 50px;">
                        {{this.car?.id}}
                    </div>
                </div>
            </div>
            <div [style]="'text-align: center; border-bottom: #e8e8e8 solid; width: 100%; height: 250px;background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-origin: content-box; background-image: url(' + car?.base64Image + ');'">

            </div>


        </div>

    </div>

    <div style="display: flex; justify-content: space-evenly; margin-bottom: 15px; margin-top: 15px;">
        <button mat-raised-button style="color: #cca502;" (click)="showEditModal()"> Editeaza datele de service</button>
        <button mat-raised-button style="color: #cca502;" (click)="showHistory()"> Istoric</button>
        <button mat-raised-button style="color: #cca502;" (click)="retreatCar()"> Retrage masina permanent</button>

    </div>

    <div *ngIf="showHistoryBool == true">
        <div *ngIf="historyAproved_dataSource?.length > 0 && this.showHistoryBool == true"
            style="margin-top:20px; width: 100%;">

            <table mat-table [dataSource]="historyApproved_dataTable" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="display:none;">id</th>
                    <td mat-cell *matCellDef="let element" style="display:none;">{{element.id}}</td>
                </ng-container>
                <ng-container matColumnDef="fullName" class="celAlighn">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn" style="padding-left: 10px;">Nume</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn" style="padding-left: 10px;">
                        {{element.fullNameClient}}</td>
                </ng-container>
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn alighText">Interval inchiriere</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn alighText"> {{element.startData}} >
                        {{element.endData}}</td>
                </ng-container>


                <ng-container matColumnDef="dayLate" class="celAlighn">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn alighText">Zile intarziere</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn alighText">
                        <div *ngIf="element.dayLate != 0">
                            {{element.dayLate}}
                        </div>

                        <div *ngIf="element.dayLate == 0">
                            <mat-icon style="color: green">close</mat-icon>
                        </div>
                    </td>

                </ng-container>

                <ng-container matColumnDef="externalDefects" class="celAlighn">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn alighText">Defecte</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn alighText">
                        <div *ngIf="element.externalDefects == true || element.internalDefects == true">
                            <mat-icon style="color: red">check</mat-icon>
                        </div>
                        <div *ngIf="element.externalDefects == false || element.internalDefects == false">
                            <mat-icon style="color: green">close</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="moneyPaid" class="celAlighn ">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn alighText">Pret total</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn alighText">
                        {{element.moneyPaid}} €
                    </td>
                </ng-container>

                <ng-container matColumnDef="returnWarranty" class="celAlighn alighText">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn alighText">Reparatii pe garantie</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn alighText">
                        <div *ngIf="element.returnWarranty == true">
                            <mat-icon style="color: green">check</mat-icon>
                        </div>
                        <div *ngIf="element.returnWarranty == false">
                            <mat-icon style="color: red">close</mat-icon>
                        </div>
                    </td>

                </ng-container>

                <ng-container matColumnDef="kmTraveled" class="celAlighn alighText">
                    <th mat-header-cell *matHeaderCellDef class="celAlighn alighText">Km parcursi</th>
                    <td mat-cell *matCellDef="let element" class="celAlighn alighText">{{element.kmTraveled}} Km</td>

                </ng-container>


                <td mat-footer-cell *matFooterCellDef colspan="99"></td>



                <tr mat-header-row *matHeaderRowDef="historyAproved_displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: historyAproved_displayedColumns;"></tr>
            </table>
            <mat-paginator #paginatorApproved [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons></mat-paginator>

        </div>

        <div *ngIf="(historyAproved_dataSource?.length == 0 || historyAproved_dataSource == null) && this.showHistoryBool == true"
            style="text-align: center; margin-top: 30px;">
            Nu exista date!
        </div>


    </div>

    <div *ngIf="showEditModalBool == true" style="margin-top: 20px; text-align: center;">
        <h2>
            Actualizeaza datele despre masina
        </h2>
        <form [formGroup]="updateGroup">
            <div>
                <mat-form-field appearance="fill" class="example-full-width" style="width: 200px;">
                    <mat-label>Data ultimei revizii</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="newServiceData" [min]="minDateKm">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Kilometrii ultimei revizii</mat-label>
                        <input matInput formControlName="newServiceKm">
                    </mat-form-field>
                </div>

            </div>

            <div>
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Kilometri actuali</mat-label>
                        <input matInput formControlName="newKm">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-form-field appearance="fill" class="example-full-width" style="width: 200px;">
                    <mat-label>Data expirare ITP</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="newITPData" [min]="today">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
        <button mat-raised-button style="color: #cca502; text-align:center; margin-bottom: 15px;" (click)="sendEditCar()" [disabled]="!updateGroup.valid"> Actualizeaza masina</button>
    </div>

    <div *ngIf="retreatCarBool == true;">
        <h2 style="text-align: center;"> Retrage masina permanent din aplicatie</h2>
        <form [formGroup]="retreatCarGroup" style="display: flex; align-items: center; justify-content: space-around;">
            <div>
                <mat-form-field appearance="fill" class="example-full-width" style="width: 200px;">
                    <mat-label>Data de retragere</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="startDataRetreatForm" [min]="today">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div style="margin-top: 20px; margin-left: 20px;">
                <div>
                    Motiv de retragere:
                </div>
                <div>
                    <textarea style="border: solid 1px; border-radius: 5px; padding: 10px; max-height: 115px;" cols="20"
                        rows="10" formControlName="mentionRetreatForm">
            </textarea>
                </div>
            </div>
        </form>
        <button mat-raised-button style="color: #cca502; margin-bottom: 15px;" (click)="retreatCarRequest()" [disabled]="!retreatCarGroup.valid"> Retrage masina </button>

    </div>
</div>